<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Cylinder Inertia (axis along Z) -->
  <xacro:macro name="cylinder_inertia" params="mass radius length xyz">
    <inertial>
      <origin xyz="${xyz}" rpy="0 0 0"/>
      <mass value="${mass}"/>
      <inertia ixx="${mass * (3*radius*radius + length*length) / 12}"
               ixy="0.0" ixz="0.0"
               iyy="${mass * (3*radius*radius + length*length) / 12}"
               iyz="0.0"
               izz="${mass * radius * radius / 2}"/>
    </inertial>
  </xacro:macro>

  <!-- Box Inertia -->
  <xacro:macro name="box_inertia" params="mass x y z xyz">
    <inertial>
      <origin xyz="${xyz}" rpy="0 0 0"/>
      <mass value="${mass}"/>
      <inertia ixx="${mass * (y*y + z*z) / 12}"
               ixy="0.0" ixz="0.0"
               iyy="${mass * (x*x + z*z) / 12}"
               iyz="0.0"
               izz="${mass * (x*x + y*y) / 12}"/>
    </inertial>
  </xacro:macro>

  <!-- Sphere Inertia -->
  <xacro:macro name="sphere_inertia" params="mass radius">
    <inertial>
      <mass value="${mass}"/>
      <inertia ixx="${2 * mass * radius * radius / 5}"
               ixy="0.0" ixz="0.0"
               iyy="${2 * mass * radius * radius / 5}"
               iyz="0.0"
               izz="${2 * mass * radius * radius / 5}"/>
    </inertial>
  </xacro:macro>

</robot>
